* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}
h2 {
  font-weight: 300;
  word-spacing: normal;
  margin: 10px 0 10px 0;
}
img {
  max-width: 100%;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.menu {
  display: inline-block;
}
.list-menu {
  margin-top: 0;
}

.item {
  text-decoration: none;
  display: inline-block;
  width: 80px;
  height: 30px;
  border: 1px solid rgb(180, 177, 177);
  border-radius: 15px;
  text-align: center;
  padding: 5px;
  margin: 0 5px 10px 20px;
}
.menu-text {
  text-decoration: none;
  color: black;
}
.logo {
  vertical-align: middle;
}

.img-text {
  width: 150px;
}

.mr10 {
  margin-right: 10px;
}

.inline-block-container {
  word-spacing: -1ch;
}
.d-inline-block {
  display: inline-block;
  word-spacing: normal;
}

.picture {
  width: 116.25px;
  float: left;
}

p {
  display: inline-block;
  width: 116.25px;
  vertical-align: text-top;
  font-size: 13px;
}
h3 {
  font-size: 15px;
}

.row {
  height: 80px;
}

.pic-phimhh {
  width: 242.5px;
  vertical-align: text-top;
}

.pic-tt {
  width: 158.33px;
  vertical-align: text-top;
}
